<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aplicación del Clima usando Flask</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Application Weather</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#inicio">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cv">CV Profesional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <div class="container flex-grow-1 mt-5 pt-5">
        <div class="row">
            <div class="col text-center">
                <h2 id="inicio">Aplicación del Clima usando Flask</h2>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ url_for('index') }}" method="post">
                    <div class="form-group">
                        <label for="cityName">Nombre de la Ciudad:</label>
                        <input type="text" id="cityName" name="cityName" value="{{ cityName }}" placeholder="Nombre de la Ciudad" class="form-control">
                        <button type="submit" class="btn btn-primary mt-2 btn-block">Buscar</button>
                        {% if error %}
                            <div class="alert alert-danger mt-2">{{ error }}</div>
                        {% endif %}
                    </div>                
                    {% if data %}
                    <div class="card mt-4">
                        <div class="card-header bg-primary text-white text-center">
                            Detalles del Clima en {{data.name}}
                        </div>
                        <div class="card-body">
                            <p><strong>Temperatura (°C):</strong> {{ data.main.temp }}</p>
                            <p><strong>Latitud:</strong> {{ data.coord.lat }}</p>
                            <p><strong>Longitud:</strong> {{ data.coord.lon }}</p>
                            <p><strong>Presión (hPa):</strong> {{ data.main.pressure }}</p>
                            <p><strong>Humedad (%):</strong> {{ data.main.humidity }}</p>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-primary text-white text-center py-3">
        <div class="container">
            <p class="mb-1">&copy; 2024 Application Weather | Creado por Maite Carolina Loor Zambrano
                <a href="#" class="text-light font-weight-bold"></a>
            </p>
            <small>"Tu clima, siempre a tu alcance."</small>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
